<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/_head %>
  </head>
  <body>
  <%- include ./partials/_nav %>
  <div class="container">
    <% foods.forEach(function(food, index){ %>
      <div class="row">
        <div class="col m4 s12">
          <div class="card">
            <div class="card-title">
              <%= food.name %>
            </div>
            <div class="card-content">
              <%= food.address %>
            </div>
            <form action="/favorites/<%= food["_id"] %>/edit" method="GET">
              <button class="waves-effect waves-teal btn-flat" type="submit">Edit</button>
            </form>
            <form action="/favorites/<%= food["_id"]%>?_method=DELETE" method="POST">
              <button class="waves-effect waves-teal btn-flat" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </div>
    <% }) %>
    </div>
  </body>
</html>
